#Build files
build/
# Node modules
node_modules/

# IDE files
.vscode/
.idea/
*.swp
*.swo
bun.lock

# OS files
.DS_Store
Thumbs.db
*-lock.json
# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp

# Coverage
coverage/

# Cache
.cache/
